:root {
  --greenColor: #242e2c;
  --lightGreenColor: #515545;
  --bgColor: #f8f5ef;
  --buttonColor: #e8e1d1;
  --formTitleColor: #262b20;
  --CommentColor: #4f5652;
  --hebFont: "GretaSansHL-Medium";
  --enFont: "futura-pt", sans-serif;
  --borderStyle: solid 1px #d1c6b0;
  --white: "#fff";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bgColor);
  overflow-x: auto;
}
